@font-face {
    font-family: "Lato Light";
    src: url("Lato-Light.ttf");
}

body {
    padding: 1rem 5rem;
    font-family: "Lato Light", sans-serif;
}

body.dark {
    background-color: #333333;
    color: #cccccc;
}

h1, p {
    text-align: center;
}

img {
    height: 48px;
}

fieldset {
    border: 1px solid gray;
    border-radius: 0.8rem;
    margin: 1rem 0;
    padding: 1rem 1.2rem 1.5rem 1.2rem;
}

legend {
    border: 1px solid gray;
    border-radius: 0.5rem;
    padding: 0.3rem 0.7rem 0.5rem 0.7rem;
}

input {
    margin-right: 1rem;
}

.rectangular-button {
    border: 1px solid lightgray;
    border-radius: 0.25rem;
    line-height: 1.25rem;
    padding: 0 0.75rem;
}

.rectangular-button:hover {
    background: lightgray
}

i {
    color: gray;
    margin: 0 0.5rem;
    position: relative;
    /* To position child tooltip element */
}

i .tooltip {
    display: none;
    font-family: "Lato Light", sans-serif;
    font-size: 0.75rem;
    /* "width" should be set in JavaScript. */
    background-color: dodgerblue;
    color: white;
    text-align: center;
    border-radius: 0.25rem;
    padding: 4px 0;
    position: absolute;
    top: -1.5rem;
    /* "left" should be set in JavaScript. */
    z-index: 1;
}

i:hover {
    color: dodgerblue;
}

i:hover .tooltip {
    display: inline;
}

table {
    border-collapse: collapse;
    margin-top: 1em;
}

tr {
    border-bottom: 1px solid lightgray;
}

td {
    padding: 0.5rem;
}

#filter {
    text-align: center;
    margin-bottom: 1em;
}

#filter-input {
    width: 20rem;
    text-align: center;
}

.button-group {
    margin: 1rem;
}

#file {
    display: none;
}

#help {
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    font-size: 1.5rem;
    display: none;
    /* TODO: Help button is not yet implemented. */
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 2;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#passwords-do-not-match-error {
    display: none;
    color: red;
}